@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
  background-color: rgb(243, 151, 239);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.logo h1 {
  font-size: 24px;
  margin-left: 10px;
}

.contact-info p {
    margin: 0;
    color: #666;
    font-size: 18px;
    font-weight: 600;
  }
  
  .hero-section{
    color: #fff;
    text-align: center;
    position: relative;
    background:linear-gradient(to bottom,rgb(243, 151, 239),white);
  }
  
  .hero-section h1 {
    color: rgb(251, 199, 248);
    font-size: 40px;
    text-shadow: 3px 3px 5px rgb(80, 80, 80);
    text-align: center;
    padding-top: 40px; 
  }

  .cake-h{
    font-size: 30px;
  }
  
  .bottom-border {
    width: 100%; /* Set the width to 100% to cover the entire width of the hero section */
    height: auto; /* Allow the SVG height to adjust according to its aspect ratio */
  }
  

  .cake-flex, .pastries-flex{
    margin-bottom: 30px;
  }

  .cake-card,.pastries-card{
    display: flex;
  }

  .flex-items{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  #cake1,#cake2,#cake3,#cake4,#pastries1,#pastries2,#pastries3,#pastries4{
    width: 400px;
    height:auto;
    margin: 20px;
    padding: 10px;
    background-color: rgb(243, 151, 239) ;
    border: 6px double white;
  }
  
  #cake1 a,#cake2 a,#cake3 a,#cake4 a,#pastries1 a,#pastries2 a,#pastries3 a,#pastries4 a{
    text-decoration: none;
    border: 2px dashed white;
    background-size: cover;
    display: inline-block;
    width: 200px;
    height: 200px;
  }
  
  #cake1 a{
    background-image: url("../assets/cake7.jpg");
  }
  
  #cake2 a{
    background-image: url("../assets/cake1.jpg");
  }
  
  #cake3 a{
    background-image: url("../assets/cake5.jpg");
  }

  #cake4 a{
    background-image: url("../assets/cake6.jpg");
  }

  #pastries1 a{
    background-image: url("../assets/pastry3.jpg");
  }
  
  #pastries2 a{
    background-image: url("../assets/pastry1.jpg");
  }
  
  #pastries3 a{
    background-image: url("../assets/pastry2.jpg");
  }

  #pastries4 a{
    background-image: url("../assets/pastry4.jpg");
  }

  .cake,.pastries {
    margin-bottom: 40px;
  }
  
  .cake img, .pastries img{
    max-width: 100%;
  }
  
  .cake h3,.pastries h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cake p,.pastries p {
    font-size: 16px;
    color: #666;
  }

  .cake-details,.pastries-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:12px;
    text-align: left;
    font-size: 20px;
  }

  .item-price{
    margin-top: 10px;
 }

 .add-item{
  display: flex;
 }

button{
  cursor: pointer;
 }
 
 .add-sub-item{
  display: none;
  justify-content: center;
  line-height: 35px;
 }
 
.add-sub-item p{
     display: flex;
     justify-content: center;
     line-height: 35px;
 }
 
 .add-item button,.add-sub-item button{
     margin: 0 10px;
     font-family: "Sacramento", cursive;
    font-style: normal;
    font-size: 20px;
 }
 
 .add-sub-item button:hover,.add-item button:hover{
    background-color: rgb(255, 255, 255);
    border:2px dashed rgb(243, 151, 239);
 }
 
 .add-sub-item p,.add-item button,.add-sub-item button{
    background-color: rgb(243, 151, 239);
    border:2px dashed white;
    padding: 0 12px;
    border-radius: 10px;
    font-weight:600;
    height: 30px;
 }
 
 .go-to-cart{
    padding: 20px;
    background-color: rgb(243, 151, 239);
    display: flex;
    position: relative;
    justify-content: space-around;
    font-size: 20px;
 }

 .go-to-cart a{
    text-decoration: none;
    color: black;
 }

 .total{
     display: flex;
 }

  footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  
  footer ul {
    list-style-type: none;
    color: white;
    display: flex;
  }
  
  footer li {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
  }
  
  footer p{
    font-size: 20px;
  }