@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
  background-color: rgb(243, 151, 239);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.logo h1 {
  font-size: 24px;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  margin-left: 5px;
}

nav ul li {
  display: inline;
  margin-right: 12px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.contact-info p {
  margin: 0;
  color: #666;
  font-size: 18px;
  font-weight: 600;
}

.hero-section{
  color: #fff;
  text-align: center;
  position: relative;
  background:linear-gradient(to bottom,rgb(243, 151, 239),white);
}

.hero-section h1 {
  color: rgb(251, 199, 248);
  font-size: 40px;
  text-shadow: 3px 3px 5px rgb(80, 80, 80);
  text-align: center;
  padding-top: 40px; 
}

.hero-section a{
  text-decoration: none;
  color: black;
  background-color: rgb(251, 199, 248);
  padding: 20px;
  font-size: 30px;
  border:2px dashed white;
  display: block;
  width: 30%;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  padding-top: 20px; 
}

.hero-section a:hover{
  background-color: white;
  border: 2px dashed rgb(243, 151, 239);
  text-shadow: #666 2px 2px 5px;
}

.bottom-border {
  width: 100%; /* Set the width to 100% to cover the entire width of the hero section */
  height: auto; /* Allow the SVG height to adjust according to its aspect ratio */
}


/* About Us Section styles */
.about{
  padding: 30px 10px;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  font-size: 24px;
  margin-bottom: 40px;
}

/* menu Section styles */
.menu {
  padding: 50px 0;
  text-align: center;
}

.flex-items{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  margin-top: 20px;
}

#cakes,#pastries{
  width: 400px;
  height:auto;
  margin: 0 20px;
  padding: 10px;
  background-color: rgb(243, 151, 239) ;
  border: 6px double white;
}

#cakes a,#pastries a{
  text-decoration: none;
  border: 2px dashed white;
  background-size: cover;
  display: inline-block;
  width: 200px;
  height: 200px;
}

#cakes a{
  background-image: url("assets/cake2.jpg");
}

#pastries a{
  background-image: url("assets/pastry1.jpg");
}

.cake {
  margin-bottom: 40px;
}

.cake img {
  max-width: 100%;
}

.cake h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cake p {
  font-size: 16px;
  color: #666;
}

/* Contact Section styles */
.contact {
  padding: 50px 0;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-us{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact form{
  display: inline-block;
  background-color: rgb(243, 151, 239);
  padding: 40px;
  width: 400px;
}

.contact form input, .contact form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.contact form textarea{
  max-width: 100%;
  min-height: 200px;
  max-height: 400px;
}

#submit-btn {
  background-color: rgb(243, 151, 239);
  border:2px dashed white;
  color: black;
  font-family:"Sacramento", cursive;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

#submit-btn:hover{
  text-shadow: #666 2px 2px 5px;
  background-color: rgb(255, 255, 255);
  border:2px dashed rgb(243, 151, 239);
}

.map {
  margin: 20px;
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: left;
}

footer ul {
  list-style-type: none;
  color: white;
  display: flex;
}

footer li {
  text-decoration: none;
  color: #fff;
  margin-right: 12px;
  font-size: 20px;
}

footer p{
  font-size: 20px;
}
